.aside .logo a::before{
    border-top:4px solid #ffb400;
    border-left:4px solid #ffb400;
}
.aside .logo a::after{
    border-right:4px solid #ffb400;
    border-bottom:4px solid #ffb400;
}
.contact .contact-info-item .icon .fa,
.blog .blog-item-inner .blog-info .blog-tags a,
.lightbox .lightbox-controls .prev-item .fa,
.lightbox .lightbox-controls .next-item .fa,
.portfolio .portfolio-item .portfolio-info .icon .fa,
.service .service-item .service-item-inner .icon .fa,
.aside .nav li a:hover,
body.dark .aside .nav li a:hover,
body.dark .aside .nav li a.active,
.about .about-content .about-text h3 span,
.aside .nav li a.active,
.portfolio .portfolio-filter .active,
body.dark .portfolio .portfolio-filter .active,
.portfolio .portfolio-item .portfolio-info .fa{

color:#ffb400;
}
.blog .blog-item-inner .blog-img .blog-date,
.service .service-item .service-item-inner:hover .icon,
.btn,
.about .about-content .timeline .circle-dot,
.about .about-content .timeline .timeline-item::before,
.about .about-content .skills .skill-item .progress .progress-in,
.section-title h2::after,
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-link a:hover,
.section-title h2::before,
.home .intro .social-link a
{
background-color:#ffb400;
}
body.dark .portfolio .portfolio-filter .active,
.portfolio .portfolio-filter .active{
    border-color:#ffb400;

}